@use 'base/index' as *

.organisations
	padding-top: 74px
	@media (max-width: 991px)
		padding-top: 64px
	@media (max-width: 425px)
		padding-top: 32px
	&__wrapper
		margin-top: 68px
		display: grid
		grid-template-columns: repeat(2, 1fr)
		align-items: flex-start
		@media (max-width: 991px)
			@include flexReverseAxis
		@media (max-width: 425px)
			margin-top: 32px
	&__accordeon
		width: 400px
		box-shadow: 5px 3px 9px 0 $mainShadow
		background: $secondBg
		border-radius: 30px
		@media (max-width: 576px)
			width: 100%
		@media (max-width: 425px)
			min-height: 80px
			border-radius: 20px
		&__item
			@include flexCenter
			padding: 10px
			height: 145px
			background: $secondBg
			box-shadow: 5px 3px 9px 0 $mainShadow
			@media (max-width: 425px)
				height: 80px
				min-height: 80px
				padding: 5px
			&::after
				@include after(100%, -20px)
				@include background('icons/accordeon-cursor.svg')
				@media (max-width: 576px)
					right: 0
				@media (max-width: 425px)
					top: 95%
			img
				object-fit: contain
		&__header
			text-transform: uppercase
			font-size: 35px
			text-align: center
			@media (max-width: 425px)
				font-size: 30px
			@media (max-width: 375px)
				font-size: 26px
		&:nth-child(2)
			.organisations__title
				&::after
					width: 38px
					height: 38px
					@include after(0, -45px)
					@include background('icons/restaurant.svg')
					@media (max-width: 375px)
						width: 26px
						height: 26px
		&:nth-child(3)
			.organisations__title
				&::after
					width: 30px
					height: 38px
					@include after(0, -40px)
					@include background('icons/cafe.svg')
					@media (max-width: 375px)
						width: 26px
						height: 32px
						top: -6px!important
		&:last-child
			.organisations__title
				&::after
					width: 35px
					height: 35px
					@include after(0, -45px)
					@include background('icons/dining-room.svg')
					@media (max-width: 375px)
						width: 26px
						height: 26px
		&__description
			margin-top: 25px
			padding: 30px
			padding-top: 0
			flex-direction: column
			gap: 0
	&__title, &__menu
		font-size: 25px
		@media (max-width: 425px)
			font-size: 20px
		@media (max-width: 375px)
			font-size: 18px
	&__menu
		margin-top: 10px
		padding-left: 40px
		list-style: disc
		@media (max-width: 425px)
			padding-left: 30px
	&__title
		position: relative
		&::after
			width: 32px
			height: 32px
			@include after(0, -40px)
			@include background('icons/supermarket.svg')
			@media (max-width: 425px)
				top: -6px!important
			@media (max-width: 375px)
				width: 26px
				height: 24px
				top: 0!important
	.accordeon-active
		@include flexVerticalCenter(flex-start)
		gap: 0
	.accordeon-active-icon
		&::after
			@include after(70%, -20px)
			@include background('icons/accordeon-cursor.svg')
			transform: unset
			@media (max-width: 576px)
				right: 0
			@media (max-width: 425px)
				top: 80%