@use 'base/index' as *

.welcome
	margin-top: 64px
	@include background('img/welcome.png')
	border-radius: 70px
	min-height: 520px
	padding: 51px 164px 65px 204px
	@media (max-width: 1100px)
		padding: 64px 96px
	@media (max-width: 991px)
		padding: 64px 50px
		min-height: auto
	@media (max-width: 768px)
		border-radius: 30px
	@media (max-width: 676px)
		padding: 48px 36px
	@media (max-width: 576px)
		padding: 36px
	@media (max-width: 480px)
		margin-top: 48px
		padding: 32px 24px
	@media (max-width: 425px)
		margin-top: 32px
		padding: 32px 16px
		border-radius: 20px
	&__wrapper
		backdrop-filter: blur(4px)
	&__text
		margin-top: 54px
		font-size: 23px
		@media (max-width: 768px)
			font-size: 22px
			margin-top: 48px
		@media (max-width: 576px)
			margin-top: 32px
		@media (max-width: 480px)
			font-size: 20px
		@media (max-width: 425px)
			margin-top: 16px
			font-size: 18px
		@media (max-width: 375px)
			font-size: 16px