@use 'variables' as *

*, *::before, *::after
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box

*::before, *::after
	border-radius: inherit

a
	display: flex
	text-decoration: none
	text-decoration-skip-ink: none
	color: inherit

table
	border-collapse: collapse

ol, ul
	list-style: none

select
	outline: none

input, textarea
	font-family: inherit
	font-size: inherit
	border: none
	outline: none
	&::placeholder
		font-family: inherit
		color: inherit

textarea
	resize: vertical

details summary::-webkit-details-marker,
details summary::marker
	display: none
	list-style: none
	content: ''

button
	font-family: inherit
	border: none
	outline: none
	cursor: pointer

img
	display: inline-block
	width: 100%
	height: 100%
	object-fit: cover
	border-radius: inherit
	vertical-align: middle
	&[alt]
		color: $defaultColor

sup, sub
	font-size: 50%
	line-height: 0

address
	font-style: normal

iframe
	border-radius: inherit

.container
	height: inherit
	min-height: inherit